#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fondo {
  background-image: url('./assets/img/fondo.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#pollo{
  width: 300px;
  height: 300px;
  animation: rotar 7s linear infinite;
}

nav {
  background-image: url('./assets/img/fondo_nav.jpg');
  background-size: cover;
}

nav ul li {
  font-weight: bold;
  font-style: italic;
}

nav ul li button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
   font-weight: bold;
   font-style: italic;
}

.centro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 20vh);
}

@keyframes rotar {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
}

.carousel .carousel-image {
   width: auto;
   height: auto; 
   object-fit: contain;

}

.carousel {
   background-image:
      linear-gradient(to top, rgba(69,209,150,0.5), rgba(217,217,217,0.5));
   border: solid black; 
   height:auto; 
}

.carousel h1{
   text-align:center;

}

.carousel p{
   text-align:left; 
   padding-left :1rem; 
   font-weight:bold; 
   font-size :30px; 
   color:black;

}


#minigame {
  font-size: 18px;
  padding: 0 1rem;

}
@media (max-width: 600px) {
  nav ul {
    flex-direction: row;
    align-items: center;
    font-size: 0.6rem;
  }
  .carousel{
    height: auto;
    font-size: 0.5rem;
  }
  .carousel p{
    font-size: 0.8rem;
  }
  #minigame{
    font-size: 0.7rem;
  }

}

.button-container {
  display: flex;
  justify-content: space-around;  
  
}

.gradient-button {
  background-image:
    linear-gradient(to top, rgba(69,209,150,0.5), rgba(217,217,217,0.5));
  border: solid black;
  padding: 20px 40px; 
  text-align: center;
  margin: 0 20px;
}

.active {
  color: black;
}

.link {
  color: white;
}


.fondo {
  position: relative;
}

.jugador {
  position: absolute;
  width: 300px;
  height: 300px;
  border: solid black;
  background-image:
  linear-gradient(to top, rgba(69,209,150,0.5), rgba(217,217,217,0.8));
}

#jugador1 {
  top: 60px;
  left: 0;
  margin: 30px;
}

#jugador2 {
  top: 60px;
  right: 0;
  margin: 30px;
}

#jugador3 {
  bottom: 0;
  left: 0;
  margin: 30px;
}

#jugador4 {
  bottom: 0;
  right: 0;
  margin: 30px;

}

h3 {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
   font-weight: bold;
}

#centro {
  top: 410px;
  height: 300px;
  width: 300px;
  height: 100px;
  margin: 30px;
}

#loading{
  width: 200px;
  height: 200px;
  animation: rotar 5s linear infinite;
}

#amongus{
  width: 200px;
  height: 200px;
}

.join-container {
  position: absolute;
  width: 600px;
  height: 300px;
  border: solid black;
  background-image:
  linear-gradient(to top, rgba(69,209,150,0.5), rgba(217,217,217,0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-codigo {
  display: block;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.boton-enviar {
  display: block;
  width: 50%;
  padding: 10px;
  border: solid black;
  background-image:
  linear-gradient(to top, rgba(69,209,150,0.5), rgba(217,217,217,0.8));
}

#test{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.player {
  position: absolute;
  width: 150px;
  height: 150px;
  border: solid black;
  background-image:
  linear-gradient(to top, rgba(69,209,150,0.5), rgba(217,217,217,0.8));
  
}

.tablero {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.casilla {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
}

.amarillo {
  background-color: yellow;
}

.azul {
  background-color: blue;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.flecha {
  font-size: 40px;
  color:#000;
}

.picture{
  width: 30px;
  height: 30px;
}
.icons{
  width: 20px;
  height: 20px;
  padding:3px;
}

.puntos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
}

.puntos div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.puntos p {
  margin-left: 10px;
}