#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.fondo {
  background-image: url('./assets/img/fondo.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

img {
  width: 200px;
  height: 200px;
  animation: rotar 7s linear infinite;
}
nav {
  background-image: url('./assets/img/fondo_nav.jpg');
  background-size: cover;

}

nav ul li {
  font-weight: bold;
  font-style: italic;
}

nav ul li button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow:  -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
  font-weight: bold;
  font-style: italic;
}

.centro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20vh);
}

@keyframes rotar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-rank {
  margin: auto;
  border: 1px solid #000;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(46, 204, 113, 0.5));
  width: 600px;
  height: 500px;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.container-rank ol {
  margin: 5%;
  text-align: left;
  padding-left: 5%;
  list-style-position: inside;
}